<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <span class="navbar-text col-md-1">
    <strong>&gt;_</strong>
    </span>
    <span class="navbar-text">
      <em>code://</em>
      <a href="https://github.com/iMilnb/gcuio" target="_blank">
        <img src="{{ url_for('images', filename='github_white_nocircle.png') }}" width="20">
      </a>
    </span>
    <span class="navbar-text">
      <a href="http://fr.wikipedia.org/wiki/Copyleft" target="_blank">
        <img src="{{ url_for('images', filename='copyleft-white.png') }}" width="20"></a>
    </span>
    <span class="navbar-text">
      by <strong><a href="http://gcu-squad.org" target="_blank">
      GCU-Squad!</a></strong>
    </span>
    <span class="navbar-text">
      using
    </span>
    <span class="navbar-text">
      <a href="http://www.elasticsearch.org/" target="_blank">
      <img src="{{ url_for('images', filename='es-white.png') }}" width="25"></a>
    </span>
    <span class="navbar-text">&amp;&amp;</span>
    <span class="navbar-text">
      <a href="http://flask.pocoo.org/" target="_blank">
      <img src="{{ url_for('images', filename='flask-white.png') }}" width="25"></a>
    </span>
    <span class="navbar-text">&amp;&amp;</span>
    <span class="navbar-text">
      <a href="http://getbootstrap.com/" target="_blank">
      <img src="{{ url_for('images', filename='bootstrap.png') }}" width="20"></a>
    </span>
    <span class="navbar-text">&amp;&amp;</span>
    <span class="navbar-text">
      <a href="http://jquery.com/" target="_blank">
      <img src="{{ url_for('images', filename='jquery-white.png') }}" width="80"></a>
    </span>
  </div>
</div>
