<div class="navbar navbar-default navbar-fixed-bottom footnav">
  <div class="container small">
    <div class="row">
      <div class="col-md-8 hidden-sm hidden-xs">
      <span class="navbar-text">
        <em>code://</em>
        <a href="https://github.com/iMilnb/gcuio" target="_blank">
          <img src="{{ url_for('images', filename='github_white_nocircle.png') }}" width="15">
        </a>
      </span>
      <span class="navbar-text">
        by <strong><a href="http://gcu-squad.org" target="_blank">
        GCU-Squad!</a></strong>
      </span>
      <span class="navbar-text">
        <a href="http://www.elasticsearch.org/" target="_blank">
        <img src="{{ url_for('images', filename='es-white.png') }}" width="15"></a>
      </span>
      <span class="navbar-text">
        <a href="http://flask.pocoo.org/" target="_blank">
        <img src="{{ url_for('images', filename='flask-white.png') }}" width="15"></a>
      </span>
      <span class="navbar-text">
        <a href="http://getbootstrap.com/" target="_blank">
        <img src="{{ url_for('images', filename='bootstrap.png') }}" width="15"></a>
      </span>
      <span class="navbar-text">
        <a href="http://jquery.com/" target="_blank">
        <img src="{{ url_for('images', filename='jquery-white.png') }}" width="60"></a>
      </span>
    </div>
    <div class="col-md-4">
      <ul class="nav nav-pills navbar-right userinfos">
        <li>
          <a href="#" id="ircers" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" data-content="">
            <span class="badge pull-right" id="chaninfos"></span>
            ircers
         </a>
        </li>
        <li class="disabled">
          <a href="#">
            <span class="badge pull-right" id="stats"></span>
            lurkers
         </a>
        </li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
