<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container small">
    <div class="row">
      <div class="col-md-7">
      <span class="navbar-text">
        <em>code://</em>
        <a href="https://github.com/iMilnb/gcuio" target="_blank">
          <img src="{{ url_for('images', filename='github_white_nocircle.png') }}" width="15">
        </a>
      </span>
      <span class="navbar-text">
        by <strong><a href="http://gcu-squad.org" target="_blank">
        GCU-Squad!</a></strong>
      </span>
      <span class="navbar-text">
        <a href="http://www.elasticsearch.org/" target="_blank">
        <img src="{{ url_for('images', filename='es-white.png') }}" width="20"></a>
      </span>
      <span class="navbar-text">
        <a href="http://flask.pocoo.org/" target="_blank">
        <img src="{{ url_for('images', filename='flask-white.png') }}" width="20"></a>
      </span>
      <span class="navbar-text">
        <a href="http://getbootstrap.com/" target="_blank">
        <img src="{{ url_for('images', filename='bootstrap.png') }}" width="15"></a>
      </span>
      <span class="navbar-text">
        <a href="http://jquery.com/" target="_blank">
        <img src="{{ url_for('images', filename='jquery-white.png') }}" width="60"></a>
      </span>
    </div>
    <div class="col-md-5">
      <span class="navbar-text pull-right" id="stats"></span>
    </div>
  </div> <!-- row -->
</div>
