{% extends "layout.html" %}
{% block body %}

{% macro static_content(t) %}
{% if content and t in content %}
  {% for item in content[t] %}
    {% if '_source' in item %}
      {% set entry = item['_source'] %}
      <div class="{{ t }}line">
        &lt;{{ entry['nick'] }}&gt; {{ entry['line'] }}
        {% for tag in entry['tags'] -%}
          #{{ tag }}&nbsp;
        {%- endfor %} <!-- tags -->
      </div>
    {% endif %} <!-- if _source -->
  {% endfor %} <!-- for item -->
{% endif %} <!-- if content -->
{% endmacro %}

<div class="container fullheight">
  <div class="row-fluid fullheight">
    <div class="col-xs-12 col-md-8 fullheight">
      <h6>
        <div id="irchead">
          <span id="topic" data-toggle="tooltip" data-placement="bottom" title="">
          </span>
          <span id="backtolive" class="pull-right label label-danger">
            <a href="/">
              <span class="glyphicon glyphicon-backward"></span>
              Retour au live
            </a>
          </span>
        </div>
      </h6>
      <div class="well well-sm irclive">
        {{ static_content('irc') }}
      </div>
    </div>
    <div class="col-xs-12 col-md-4 fullheight">
      <h6 id="lotd">Links of the day <small>pas forc&eacute;ment</small>
      <a href="http://fr.wikipedia.org/wiki/Not_Safe_for_Work">SFW</a>
      <a class="pull-right" href="{{ url_for('atomfeed') }}">
        <img src="{{ url_for('images', filename='logo_rss_small.png') }}">
      </a>
      </h6>
      <div class="list-group urllive">
        {{ static_content('url') }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
