<div id='adsense' style="display:none">
  <div class="ircline small ad">
    &lt;message subliminal: aide les lutins en cliquant sur ce lien...&gt;
    <script type="text/javascript"><!--
    google_ad_client = "ca-pub-9297291143150490";
    /* gcuio-irclive */
    google_ad_slot = "5735242451";
    google_ad_width = 468;
    google_ad_height = 60;
    //-->
    </script>
    <script type="text/javascript"
    src="//pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    &lt;/message subliminal&gt;
  </div>
</div>
