{% macro button(name, style) %}
if (source['{{ name }}'] != '') {
    ircline += '<span class="{{ name }}">'
    ircline += '<button type="button" class="{{ style[name] }}">'
    ircline += escape_html(source['{{ name }}'])
    ircline += '</button>'
    ircline += '</span>'
}
{%- endmacro %}

{% macro buttonlst(name, style) %}
ircline += '<span class="{{ name }}">'
$.each(source.{{ name }}, function() {
    ircline += '<button type="button" class="{{ style[name] }}">';
    ircline += escape_html(this);
    ircline += '</button>';
});
ircline += '</span>';
{%- endmacro %}
