{% macro button(name, style) %}
if (source.{{ name }}) {
    ircline += '<span class="{{ name }}">';
    ircline += '<a ';
    if ('{{ name }}' != 'time') {
        ircline += 'href="#" onclick="modal_display(';
        ircline += '\'{{ name }}:' + escape_html(encodeURIComponent(source.{{ name }}).replace(/'/g,'\\\'')) + '\'';
        ircline += ', undefined); return false;" ';
    } else {
        var tweet = mktweeturl(source);
        ircline += 'href="' + tweet + '" target="_blank" ';
        ircline += 'data-toggle="tooltip" data-placement="top" ';
        ircline += 'title="' + source.date + ' <img width=\'15\' src=';
        ircline += '\'{{ url_for('images', filename='tweet-white.png') }}\'>"';
    }
    ircline += 'role="button" class="{{ style[name] }}">';
    ircline += escape_html(source['{{ name }}']);
    ircline += '</a>';
    ircline += '</span>';
}
{%- endmacro %}

{% macro buttonlst(name, style, icon) %}
if (source.{{ name }} && source.{{ name }}[0]) {
    if ('{{ name }}' == 'tonick')
        ircline += '<span class="glyphicon glyphicon-chevron-right"></span>';
    ircline += '<span class="{{ name }}">'
    $.each(source.{{ name }}, function() {
        ircline += '<a href="#" ';
        ircline += 'onclick="modal_display(';
        ircline += '\'{{ name }}:' + escape_html(encodeURIComponent(this).replace(/'/g,'\\\'')) + '\'';
        ircline += ', undefined); return false;" ';
        ircline += 'role="button" class="{{ style[name] }}">';
        ircline += escape_html(this);
        {% if icon %}
        ircline += '<span class="glyphicon glyphicon-{{ icon }}" ';
        ircline += 'style="padding-left: 5px;"></span>';
        {% endif %}
        ircline += '</a>';
    });
    ircline += '</span>';
}
{%- endmacro %}
