<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="searchModalLabel">R&eacute;sultats de la recherche <small id="total"></small></h4>
      </div>
      <div class="modal-body">
        <div class="well well-sm searchbox">
        </div>
      </div>
      <div class="modal-footer">
        <button id="prev-results" type="button" class="btn btn-default" data-dismiss="modal">Pr&eacute;c&eacute;dent</button>
        <button id="next-results" type="button" class="btn btn-default" data-dismiss="modal">Suivant</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
