body {
    padding-top: 70px;
}
html, body {
    height: 100%;
}
.fullheight {
    height: 100%;
}
.irclive {
    padding: 5px;
    height: 90%;
    overflow: auto;
    font-family: monospace;
}
.line {
    margin-left: 5px;
}
.tags {
    margin-left: 5px;
}

.urllive {
    height: 90%;
    overflow: auto;
    font-family: monospace;
}

footer {
    background: #222;
    padding: 10px 5px;
}

.popover {
    font-family: monospace;
    background: #222;
    font-size: 12px;
}

.popover.left .arrow:after {
    border-left-color: #222;
}

.modal-body {
    font-family: monospace;
}
