html {
    height: 100%;
}
body {
    padding-top: 70px;
    padding-bottom: 100px;
    height: 100%;
}
.fullheight {
    height: 100%;
}
.irclive {
    padding: 5px;
    height: 90%;
    overflow: auto;
    font-family: monospace;
}
.line {
    margin-left: 5px;
}
.tags {
    margin-left: 5px;
}

.urllive {
    height: 90%;
    overflow: auto;
    font-family: monospace;
}

.popover {
    font-family: monospace;
    background: #222;
    font-size: 12px;
    /* ensure popover z-index is greater than navbar z-index (1030) */
    z-index: 1040;
    max-width: 400px;
}

.popover.left .arrow:after {
    border-left-color: #222;
}

.modal-dialog {
    width: 60%;
}

.modal-body {
    font-family: monospace;
}

.bigger-label {
    font-size: 11px;
}
