html {
    height: 100%;
}
body {
    padding-top: 70px;
    padding-bottom: 100px;
    height: 100%;
}
.fullheight {
    height: 100%;
}

.mainheight {
    height: 92%;
}

.irclive {
    padding: 5px;
    height: 95%;
    overflow: auto;
    font-family: monospace;
    background: #111;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
}
.line {
    margin-left: 5px;
}
.tags {
    margin-left: 5px;
}

.urllive {
    height: 95%;
    overflow: auto;
    font-family: monospace;
}

.popover {
    font-family: monospace;
    background: #222;
    font-size: 12px;
    /* ensure popover z-index is greater than navbar z-index (1030) */
    z-index: 1040;
    max-width: 400px;
}

.popover.left .arrow:after {
    border-left-color: #222;
}

.modal-dialog {
    width: 60%;
}

.modal-body {
    font-family: monospace;
}

.bigger-label {
    font-size: 11px;
}

.newdate {
    text-align: right;
    background: #000;
    font-weight: bold;
    padding: 5px;
}

.newdate a:hover {
    text-decoration: none;
}

#irchead {
    font-family: monospace;
    background: #303035;
    border: 1px solid #222;
    padding: 8px;
    border-radius: 5px;
}

#irchead a:hover {
    text-decoration: none;
}

#lotd {
    font-family: monospace;
    background: #303035;
    border: 1px solid #222;
    padding: 8px;
    border-radius: 5px;
}

.footnav {
    line-height: 15px;
}

.tooltip-inner {
    max-width: 400px;
}

.userinfos {
    line-height: 20px;
    margin-top: 2px;
}

#backtolive {
    font-size: 10px;
}
